fastapi==0.115.6
uvicorn==0.32.1
python-multipart==0.0.20
werkzeug==3.1.1
tinydb==4.8.0
pillow==11.1.0
numpy==1.26.4
websockets==13.1
requests==2.32.3
torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0
